<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>User info</h1>
        <% if @user.errors.any? %>
          <%= @user.errors.count %>error prohibited this obj from being saved:
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <%= form_with model:@user, local:true do |f| %>
          <p>Name</p>
          <%= f.text_field :name %>
          <p>Image</p>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          <p>Introduction<p>
          <%= f.text_area :introduction %>
          <p><%= f.submit 'Update User' %></p>
        <% end %>
      </div>
    </div>
  </div>
</main>